{% extends "pagina.html" %}
{% load markdownizar %}

{% block body %}
    <div class="articulo">
        <div class="row">
            <div class="col">
                <p class="titulo">{{ articulo.titulo }}</p>
            </div>
        </div>
        {% if articulo.subtitulo %}
            <div class="row">
                <div class="col">
                    <p class="subtitulo">{{ articulo.subtitulo }}</p>
                </div>
            </div>
        {% endif %}
        {% if articulo.imagen %}
            <div class="row">
                <div class="col">
                    <img src="{{ MEDIA_URL }}{{ articulo.imagen.name }}" alt="{{ titulo }}" class="img-fluid"/>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <div class="sumilla {{ articulo.clase }}">
                    {{ articulo.sumilla | markdownizar }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if articulo.autor %}
                    <p class="author">Por {{ articulo.autor }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="contenido {{ articulo.clase }}">
                    {{ articulo.contenido | markdownizar }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}