{% extends "pagina.html" %}
{% load markdownizar %}

{% block body %}
    <div class="narracion">
        <div class="row">
            <div class="col">
                <p class="titulo">{{ narracion.titulo }}</p>
                <p class="author centrar">{{ narracion.autor }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{ MEDIA_URL }}{{ narracion.imagen.name }}" alt="{{ titulo }}" class="img-fluid"/>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="contenido {{ narracion.clase }}">
                    {{ narracion.contenido | markdownizar }}
                </div>
            </div>
        </div>
        {% include "autor.html" with autor=narracion.autor %}
    </div>
{% endblock %}