{% extends "pagina.html" %}

{% block header %}
    <title>{{ narracion.titulo }}</title>
{% endblock %}

{% block body %}
    <div class="narraciones centrar">
        {% for fila in narraciones %}
            <div class="row">
                {% for a in fila %}
                    <div class="col-lg-4 col-md-12">
                        <a class="enlace" href="/{{ prefijo_url }}/{{ a.narracion.pagina.direccion }}/">
                            <img src="{{ MEDIA_URL }}{{ a.narracion.caratula.name }}" alt="{{ a.caratula.titulo }}"
                                 class="img-fluid"/>
                            <div>
                                <p class="titulo"> {{ a.narracion.titulo }}</p>
                                <p class="author centrar"> {{ a.narracion.autor }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
