{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=PT+Serif&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
	      rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link href="{% static '/css/revista.css' %}" rel="stylesheet"/>
	{% block header %}<title></title>{% endblock %}
</head>
<body>
<div class="container-xxl">
	<div class="cabecera">
		<div class="row align-items-center">
			<div class="col-2">
				<a href="/">
					<img src="{{ MEDIA_URL }}{{ parametros.logo.name }}" alt="{{ parametros.texto_logo }}" class="img-fluid">
				</a>
			</div>
			<div class="col-9 offset-1">
				<div class="row">
					<div class="col">
						<p class="descripcion">{{ parametros.descripcion }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<nav class="navbar navbar-expand-lg navbar-light bg-white">
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav">
									{% for o in opciones %}
										<li class="nav-item"><a class="nav-link" href="/{{ o.direccion }}">{{ o.titulo }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% block body %}{% endblock %}
	<div class="pie">
		<div class="row">
			<div class="col-5">
				<a href="{{ parametros.url_pucp }}">
					<img src="{{ MEDIA_URL }}{{ parametros.logo_pucp.name }}" alt="{{ parametros.texto_pucp }}"/>
				</a>
			</div>
			<div class="col-3">
				<a href="{{ parametros.url_maestria }}">
					<img src="{{ MEDIA_URL }}{{ parametros.logo_maestria.name }}" alt="{{ parametros.texto_maestria }}" class="img-fluid"/>
				</a>
			</div>
			<div class="col-4">
				<ul class="social">
					{% for s in social %}
						<li>
							<a href="{{ s.direccion }}">
								<img src="{{ MEDIA_URL }}{{ s.imagen.name }}" alt="{{ s.texto }}" class="img-fluid"/>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</div>
</body>
</html>